data_dir = "/var/lib/nomad"

bind_addr = "{{ ansible_eth0.ipv4.address }}"

addresses {
    http = "127.0.0.1 {{ ansible_eth0.ipv4.address }}"
}

advertise {
    http = "{{ ansible_eth0.ipv4.address }}"
}

acl {
    enabled = true
}